*{
  margin: 0;
  padding: 0;
}
.index-nav{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.index-nav a{
  text-decoration: none;
  color: white;
  padding: 2px 20px;
}
.active{
  border:1px solid #fff;
  padding: 2px 20px;
}
